* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #090909;
  font-size: 24px;
  font-family: "Ysabeau Infant", sans-serif;
  color: aliceblue;
}

a {
  text-decoration: none;
}

body {
  background-color: #090909;
}

/* ----------------------------- HEADER */
header.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
header.header div {
  width: 80%;
  display: flex;
  height: 11vh;
  align-items: center;
}
header.header div div.title-container {
  width: 30%;
}
header.header div div.title-container h1 {
  margin-bottom: 0;
}
header.header div div.title-container h1 a {
  color: #ff8a84;
  font-family: "Trochut", sans-serif;
  font-size: 60px;
}
header.header div div.navbar-header {
  width: 70%;
  display: flex;
  justify-content: end;
}
header.header div div.navbar-header nav #checkbox-menu {
  display: none;
}
header.header div div.navbar-header nav label {
  display: none;
}
header.header div div.navbar-header nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 0;
}
header.header div div.navbar-header nav ul .item-nav {
  padding: 0px 30px;
  border-right: 2px solid white;
}
header.header div div.navbar-header nav ul .item-nav a {
  color: #ff8a84;
}
header.header div div.navbar-header nav ul .item-nav-last {
  padding: 10px 30px;
  padding-right: 0px;
}
header.header div div.navbar-header nav ul .item-nav-last a {
  color: #ff8a84;
}

/* --------------------------- FOOTER */
footer {
  text-align: center;
}
footer h3 {
  padding: 30px;
  font-size: 2rem;
  font-family: "Trochut", sans-serif;
  color: black;
  background-color: #f7f6f6;
  margin-bottom: 0;
}
footer div {
  background-color: #f7f6f6;
}
footer div a {
  background-color: #f7f6f6;
}
footer div a .ig-logo, footer div a .spotify-logo, footer div a .youtube-logo {
  background-color: #f7f6f6;
  height: 2rem;
  margin: 5px;
}
footer h3.footer-contact {
  padding: 20px;
  background-color: #f7f6f6;
  margin-bottom: 0;
}
footer h3.footer-contact a {
  font-size: 1.8rem;
  font-family: "Ysabeau Infant", sans-serif;
  color: black;
  background-color: aliceblue;
}

/* ----------------------------INDEX */
.banner {
  width: 100%;
}
.banner .img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner .img-container img {
  width: 100%;
}
.banner .img-container p.banner-title {
  font-size: 11rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: "Trochut", sans-serif;
  opacity: 0.7;
  text-align: center;
}

p.p-margin-0 {
  margin-bottom: 0;
}

.know-our-music-button {
  margin-top: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: black;
  border-radius: 7px;
  border-width: 0px;
  border: 2px solid #ff8a84;
  cursor: pointer;
}

.know-our-music-button:hover {
  background-color: #ff8a84;
  color: black;
  font-weight: bold;
}

.know-our-music-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}
.know-our-music-container h3 {
  padding-bottom: 60px;
}
.know-our-music-container div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.know-our-music-container div iframe {
  padding: 15px;
}

/* ------------------------------- ALBUMS */
.albums-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.albums-banner div {
  width: 70%;
  position: relative;
  overflow: hidden;
}
.albums-banner div img {
  width: 100%;
}
.albums-banner div p.banner-title {
  font-size: 11rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: "Trochut", sans-serif;
  opacity: 0.7;
  text-align: center;
}

.albums-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}
.albums-container h3 {
  font-size: 50px;
  padding-bottom: 60px;
}
.albums-container div {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.albums-container div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.albums-container div div img {
  margin-bottom: 20px;
}
.albums-container div div img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s;
  z-index: 0;
  border: 2px solid #ff8a84;
}
.albums-container div div p {
  font-size: 33px;
}

/* ------------------------------- TOUR */
.tours-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tours-banner div {
  width: 70%;
  position: relative;
  overflow: hidden;
}
.tours-banner div img {
  width: 100%;
}
.tours-banner div .banner-title {
  font-size: 11rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: "Trochut", sans-serif;
  opacity: 0.7;
  text-align: center;
}

p.map {
  color: #ff8a84;
}

/* ------------------------------- MEDIA */
.media-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.media-banner div {
  width: 70%;
  position: relative;
  overflow: hidden;
}
.media-banner div img {
  width: 100%;
}
.media-banner div p.banner-title {
  font-size: 11rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: "Trochut", sans-serif;
  opacity: 0.7;
  text-align: center;
}

.media-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}
.media-container h4.photos-title {
  font-size: 50px;
  padding-bottom: 60px;
}
.media-container div.row {
  margin-left: 0;
  margin-right: 0;
}
.media-container div.row div.col-xl-3 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
}
.media-container div.row div.col-xl-3 img {
  width: 80%;
  height: auto;
}
.media-container div.row div.col-xl-3 img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.5s;
  z-index: 0;
  border: 2px solid #ff8a84;
}
.media-container h4.videos-title {
  font-size: 50px;
  padding-bottom: 60px;
}
.media-container div.music-videos-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.media-container div.music-videos-container .music-video-iframe {
  padding: 15px;
}

/* ------------------------- ABOUT US */
.about-us-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-banner div {
  width: 70%;
  position: relative;
  overflow: hidden;
}
.about-us-banner div img {
  width: 100%;
}
.about-us-banner div p.banner-title {
  font-size: 11rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-family: "Trochut", sans-serif;
  opacity: 0.7;
  text-align: center;
}

.history-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}
.history-container h3.history-title {
  font-size: 50px;
  padding-bottom: 60px;
}
.history-container div.band-history {
  width: 40%;
  text-align: center;
}

.members-section {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.members-section div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.members-section div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.members-section div div img {
  width: 100%;
  margin-bottom: 25px;
}
.members-section div div p {
  font-size: 30px;
  text-align: center;
}

.contact-us-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
}
.contact-us-container h3.contact-us-title {
  font-size: 50px;
  padding-bottom: 60px;
}
.contact-us-container article {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-us-container article form {
  width: 100%;
}
.contact-us-container article form div {
  display: flex;
  flex-direction: column;
}
.contact-us-container article form div input {
  border: 0;
  border-bottom: 3px solid #ff8a84;
  border-radius: 5px;
}
.contact-us-container article form div input:focus {
  outline: none;
}
.contact-us-container article button {
  width: 40%;
  margin-top: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: black;
  border-radius: 7px;
  border-width: 0px;
  border: 2px solid #ff8a84;
  cursor: pointer;
  font-size: 28px;
}
.contact-us-container article button:hover {
  background-color: #ff8a84;
  color: black;
  font-weight: bold;
  font-size: 28px;
}

@media (min-width: 320px) and (max-width: 768px) {
  * {
    font-size: 18px;
  }
  header.header div {
    width: 90%;
  }
  header.header div div.title-container {
    width: 50%;
  }
  header.header div div.title-container h1 a {
    font-size: 39px;
  }
  header.header div div.navbar-header {
    width: 50%;
  }
  header.header div div.navbar-header nav #checkbox-menu:checked ~ ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.header div div.navbar-header nav label {
    display: flex;
  }
  header.header div div.navbar-header nav label i {
    font-size: 35px;
    z-index: 100;
  }
  header.header div div.navbar-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 95%;
    padding-left: 0;
  }
  header.header div div.navbar-header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px;
    width: 100%;
  }
  header.header div div.navbar-header nav ul li a {
    color: #ff8a84;
    font-size: 35px;
  }
  header.header div div.navbar-header nav ul .item-nav-last {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0px 15px;
    width: 100%;
  }
  header.header div div.navbar-header nav ul .item-nav-last a {
    color: #ff8a84;
    font-size: 35px;
  }
  /* Index Page Query */
  p.banner-title {
    font-size: 4rem !important;
  }
  #index-row {
    flex-direction: column;
  }
  #index-col {
    justify-content: flex-start !important;
  }
  .know-our-music-title {
    padding-bottom: 60px;
  }
  /* Albums Page Query */
  .albums-banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .albums-banner div {
    width: 100%;
  }
  .albums-container h3 {
    font-size: 35px;
    padding-bottom: 60px;
  }
  .albums-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .albums-container div div {
    width: 100%;
  }
  .albums-container div div img {
    width: 70%;
  }
  /* Tours Page Query */
  .tours-banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tours-banner div {
    width: 100%;
  }
  p.map {
    color: #ff8a84;
  }
  /* Media Page Query */
  .media-banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .media-banner div {
    width: 100%;
  }
  /* About Us Page Query */
  .about-us-banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-us-banner div {
    width: 100%;
  }
  .history-container div.band-history {
    width: 85%;
  }
  .members-section div {
    flex-direction: column;
    align-items: center;
  }
  .members-section div div {
    width: 75%;
  }
  .members-section div div img {
    margin-bottom: 10px;
  }
  .members-section div div p {
    font-size: 25px;
  }
  .contact-us-container h3.contact-us-title {
    text-align: center;
  }
  .contact-us-container article {
    width: 85%;
  }
  .contact-us-container article button {
    width: 50%;
    margin-top: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1366px) {
  * {
    font-size: 20px;
  }
  header.header div {
    width: 100%;
    justify-content: space-evenly;
  }
  header.header div .navbar-header {
    width: 100%;
    display: flex;
    justify-content: center !important;
  }
  header.header div .navbar-header nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 0;
  }
  header.header div .navbar-header nav ul .item-nav {
    padding: 0px 15px;
    border-right: 2px solid white;
  }
  header.header div .navbar-header nav ul .item-nav a {
    font-size: 18px;
    color: #ff8a84;
  }
  header.header div .navbar-header nav ul .item-nav-last {
    padding: 10px 15px;
    padding-right: 0px;
  }
  p.banner-title {
    font-size: 5rem !important;
  }
}

/*# sourceMappingURL=styles.css.map */
